.cont{
    align-content: flex;
    align-self: flex-end;
    color: black;
    text-decoration-color: blanchedalmond;
    width: 100%;
     padding: 50 px; /* Espaciado interno para separar el contenido del borde */
     /*border: 0px solid #ccc;  Borde del cuadro de texto */
     border-radius: 5px;

}
.text{
    background-image: url('../../assets/pergamino.png');
    align-content: center;
    margin-left: 30% ;
    margin-right: 30%;
    font-family: 'Lucida Calligraphy';
    font-size: 18px;
    margin-top: 1%;
    align-self: center;
    text-align: center;
    text-decoration-color: black;
    padding: 40 px; /* Espaciado interno para separar el contenido del borde */
    border: 0px solid #ccc; /* Borde del cuadro de texto */
    border-radius: 5px; /* Bordes redondeados para suavizar la apariencia */
    .title{
        padding-top: 4rem;
    }
    .letter{
        margin-left: 3% ;
        margin-right: 10%;  
    }
}