body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lucida Calligraphy'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
padding: 0;
background-image: url('./assets/nav.png'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
background-size: contain;
background-repeat: repeat;
background-attachment: fixed;
width: 100%;
height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
